@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;900&display=swap');

body {
    background-color: white;
    font-family: 'Nunito', sans-serif;}
h1 {
    text-align: center;
    font-size:50px
}
.board {
    margin: 0 auto;
    display: grid;
    width: min-content;
    height: min-content;
    grid-template-columns: repeat(3, 1fr); 
}
.space {
    margin: 0px;
    padding: 10px;
    width: 80px;
    height: 80px;
    border: solid black 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 110px;
    text-align: center;
}
.top {
    border-top-style: none;
}
.left {
    border-left-style: none;
}
.right {
    border-right-style: none;
}
.bottom {
    border-bottom-style: none;
}
div#a{
    border-radius: 15% 0 0 0;;
}
div#c{
    border-radius: 0 15% 0 0;;
}
div#g{
    border-radius: 0 0 0 15%;;
}
div#i{
    border-radius: 0 0 15% 0;;
}
h2 {
    text-align: center;
}
.scoreboard {
    margin: 0 auto;
    display: grid;
    width: min-content;
    height: min-content;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 1fr 125px 1fr; */
}

.score-X {
    background-color: yellow;
    border-radius: 50% 0 0 50%;
    border-style: solid;
    border-right-style: none;
}
.score-O {
    background-color: white;
    border-radius: 0 50% 50% 0;
    border-style: solid;
    border-left-style: none;
} 
.score {
    width: 100px;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    width: min-content;
    height: min-content;
    grid-template-rows: repeat(2, 1fr);
}
.player {
    margin: 10px auto 10px;
    width: 50px;
    text-align: center;
    font-size: 30px;
}
.player-score {
    margin: 10px auto 10px;
    width: 50px;
    text-align: center;
    font-size: 30px;
}
div.reset-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px
}
button.reset-game {
    margin: 5% 2%;
    background-color: white;
    border-radius: 5px;
}
button.reset-score {
    margin: 5% 2%;
    background-color: white;
    border-radius: 5px;
}