body {
    background-color: white;
}
h1 {
    text-align: center;
    font-size:40px
}
.board {
    margin: 0 auto;
    display: grid;
    width: min-content;
    height: min-content;
    grid-template-columns: repeat(3, 1fr); 
}
.space {
    margin: 0px;
    padding: 10px;
    width: 80px;
    height: 80px;
    border: solid black 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    text-align: center;
}
.top {
    border-top-style: none;
}
.left {
    border-left-style: none;
}
.right {
    border-right-style: none;
}
.bottom {
    border-bottom-style: none;
}

h2 {
    text-align: center;
}
.scoreboard {
    margin: 0 auto;
    display: grid;
    width: min-content;
    height: min-content;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 1fr 125px 1fr; */
}

.score-X {
    background-color: yellow;
}
.score-O {
    background-color: white;
} 
.score {
    width: 100px;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    width: min-content;
    height: min-content;
    grid-template-rows: repeat(2, 1fr);
}
.player {
    width: 50px;
    text-align: center;
}
.player-score {
    width: 50px;
    text-align: center;
}
div.reset-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px
}
button.reset-game {
    margin: 5% 2%;
}
button.reset-score {
    margin: 5% 2%;
}